In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
url = "https://raw.githubusercontent.com/plotly/datasets/master/2014_usa_states.csv"

df = pd.read_csv(url)

print(df.head())

   Rank       State Postal  Population
0     1     Alabama     AL   4849377.0
1     2      Alaska     AK    736732.0
2     3     Arizona     AZ   6731484.0
3     4    Arkansas     AR   2966369.0
4     5  California     CA  38802500.0

In [4]:
print(df)

    Rank                 State Postal  Population
0      1               Alabama     AL   4849377.0
1      2                Alaska     AK    736732.0
2      3               Arizona     AZ   6731484.0
3      4              Arkansas     AR   2966369.0
4      5            California     CA  38802500.0
5      6              Colorado     CO   5355866.0
6      7           Connecticut     CT   3596677.0
7      8              Delaware     DE    935614.0
8      9  District of Columbia     DC    658893.0
9     10               Florida     FL  19893297.0
10    11               Georgia     GA  10097343.0
11    12                Hawaii     HI   1419561.0
12    13                 Idaho     ID   1634464.0
13    14              Illinois     IL  12880580.0
14    15               Indiana     IN   6596855.0
15    16                  Iowa     IA   3107126.0
16    17                Kansas     KS   2904021.0
17    18              Kentucky     KY   4413457.0
18    19             Louisiana     LA   4649676.0
19    20                 Maine     ME   1330089.0
20    21              Maryland     MD   5976407.0
21    22         Massachusetts     MA   6745408.0
22    23              Michigan     MI   9909877.0
23    24             Minnesota     MN   5457173.0
24    25           Mississippi     MS   2994079.0
25    26              Missouri     MO   6063589.0
26    27               Montana     MT   1023579.0
27    28              Nebraska     NE   1881503.0
28    29                Nevada     NV   2839098.0
29    30         New Hampshire     NH   1326813.0
30    31            New Jersey     NJ   8938175.0
31    32            New Mexico     NM   2085572.0
32    33              New York     NY  19746227.0
33    34        North Carolina     NC   9943964.0
34    35          North Dakota     ND    739482.0
35    36                  Ohio     OH  11594163.0
36    37              Oklahoma     OK   3878051.0
37    38                Oregon     OR   3970239.0
38    39          Pennsylvania     PA  12787209.0
39    40           Puerto Rico     PR   3548397.0
40    41          Rhode Island     RI   1055173.0
41    42        South Carolina     SC   4832482.0
42    43          South Dakota     SD    853175.0
43    44             Tennessee     TN   6549352.0
44    45                 Texas     TX  26956958.0
45    46                  Utah     UT   2942902.0
46    47               Vermont     VT    626562.0
47    48              Virginia     VA   8326289.0
48    49            Washington     WA   7061530.0
49    50         West Virginia     WV   1850326.0
50    51             Wisconsin     WI   5757564.0
51    52               Wyoming     WY    584153.0